NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_USE_CDN=true
SANITY_REQUEST_TIMEOUT_MS=10000
SANITY_WRITE_TOKEN=
ADMIN_PASSWORD=
SEED_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=usd
ENABLE_STRIPE_CHECKOUT=false
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_ENV=sandbox
PAYPAL_CURRENCY=usd
ENABLE_PAYPAL_CHECKOUT=true
ENABLE_MANUAL_INVOICE_REQUESTS=true
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_OG_IMAGE=
NEXT_PUBLIC_CONTACT_EMAIL=
CONTACT_EMAIL=
NEXT_PUBLIC_WHATSAPP_NUMBER=8617538137711
NEXT_PUBLIC_STORE_MARKET=US
NEXT_PUBLIC_STORE_CURRENCY=USD
NEXT_PUBLIC_CNY_PER_USD=7.2
NEXT_PUBLIC_CNY_PER_AED=1.96
NEXT_PUBLIC_CNY_PER_CAD=5.3
NEXT_PUBLIC_CNY_PER_GBP=9.1
NEXT_PUBLIC_CNY_PER_EUR=7.8
NEXT_PUBLIC_CNY_PER_AUD=4.7
NEXT_PUBLIC_CNY_PER_NZD=4.4
NEXT_PUBLIC_CNY_PER_SGD=5.4
NEXT_PUBLIC_CNY_PER_JPY=0.05
NEXT_PUBLIC_CNY_PER_KRW=0.0052
NEXT_PUBLIC_CNY_PER_HKD=0.92
NEXT_PUBLIC_CNY_PER_TWD=0.22
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_PINTEREST_TAG_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_PINTEREST_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_XIAOHONGSHU_URL=
NEXT_PUBLIC_YOUTUBE_URL=
RESEND_API_KEY=
SENDGRID_API_KEY=
NEWSLETTER_FROM_EMAIL=
NEWSLETTER_TO_EMAIL=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
NEXT_PUBLIC_SNIPCART_PUBLIC_API_KEY=
DEMO_LOGIN_ENABLED=false
DEMO_USER_EMAIL=
DEMO_USER_PASSWORD=
DEMO_USER_NAME=
